@font-face {
  font-family: frontpage;
  src: url('frontpageneue.otf') format('opentype');
}
@font-face {
  font-family: helveticacondensed;
  src: url('helveticacondensed.otf') format('opentype');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #222;
  font-family: frontpage;
  font-size: 96px;
  line-height: 88px;
}
.percent {
  font-family: helveticacondensed;
  font-size: 90px;
  font-weight: 900;
}
.double .percent {
  font-size: 150px;
}
#controls {
  position: absolute;
  top: 832px;
  height: 208px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#controls section {
  display: flex;
  width: 416px;
  margin-top: 12px;
}
button {
  font-size: 24px;
  flex-basis: 6em;
  flex-grow: 1;
  height: 48px;
}
button#bottom10 {
  position: absolute;
  left: 448px;
  width: 40px;
  top: 936px;
  height: 104px;
  text-align: right;
}
section.level {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  background: #000;
}
#upper {
  left: 0;
  top: 0;
}
#lower {
  left: 500px;
  top: 0;
}
.simulation #upper {
  left: 208px;
  top: 0;
}
.simulation #lower {
  left: 0px;
  top: 832px;
}
#status {
  position: absolute;
  left: 0;
  width: 100%;
  top: 1080px;
  height: 128px;
  background: #000;
  color: #0f0;
  font-family: monospace;
  font-weight: bold;
  font-size: 32px;
  padding: 12px;
  border: 1px solid #333;
  line-height: 1;
  white-space: pre;
  overflow: hidden;
}
.row {
  transition: opacity 250ms ease-out;
  white-space: pre;
}
.widget {
  white-space: normal;
}
.hidden {
  opacity: 0;
  transition: none;
}
.omitted {
  display: none;
}
.panel {
  padding: 12px;
  text-align: center;
  z-index: 2;
}
.panel.upper {
  width: 208px;
  height: 832px;
}
.panel.lower {
  width: 416px;
  height: 1040px;
  overflow: hidden;
  color: white;
}
#lower .shade {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  border-top: 2px solid #000;
  opacity: 0.3;
  pointer-events: none;
  z-index: 3;
}
.video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#upper video {
  width: 416px;
  height: 832px;
}
#lower video {
  width: 832px;
  height: 1040px;
}
.digit {
  display: inline-block;
  width: 1ch;
  text-align: center;
}
.panel[theme='acred'] {
  background: #eb1c23;
}
.panel[theme='acblue'] {
  background: #4aa1cc;
}
.panel[theme='red'] {
  background: #c52d38;
}
.panel[theme='blue'] {
  background: #5181a3;
}
.panel[theme='lightblue'] {
  background: #95bee6;
}
.strike {
  text-decoration: line-through;
}
.time-part {
  text-align: left;
  padding-left: 84px;
}
.repeated-hashtag {
  font-size: 78px;
  line-height: 78px;
  height: 78px;
}
.large {  /* 3/2 size */
  font-size: 148px;
  line-height: 144px;
  height: 132px;
}
.double {  /* 2x size */
  font-size: 200px;
  line-height: 200px;
  height: 176px;
}
.with-superscript {
  height: 88px;
  margin: -27px 0 27px 0;
}
.space-after {
  padding-bottom: 48px;
}
.inverse {
  transition: opacity 750ms;
  background: #fff;
}
.inverse.hidden {
  transition: none;
}
[theme='acred'] .inverse {
  color: #eb1c23;
}
[theme='acblue'] .inverse {
  color: #4aa1cc;
}
[theme='red'] .inverse {
  color: #c52d38;
}
[theme='blue'] .inverse {
  color: #5181a3;
}
[theme='lightblue'] .inverse {
  color: #95bee6;
}
.struck {
  display: inline-block;
  position: relative;
}
.striker {
  position: absolute;
  left: -10%;
  right: -10%;
  top: 43%;
  bottom: 43%;
  background: #eb1c23;
  background: #c52d38;
  transition: right 300ms ease-in 400ms;
}
.hidden .striker {
  right: 110%;
}
#delay-denial-widget .row {
  font-size: 180px;
  line-height: 146px;
  height: 154px;
}
